// Custom application specific styles
//--------------------------------------


.control-group {
    .form-group();
}

.controls > input {
    .form-control();
}

.form-actions {
    margin-top: @line-height-computed;
    padding: 0 @line-height-computed @line-height-computed 0;
}

.navbar-app {
    margin-bottom: 0;
}



// Example styles for a HMTL5 based site footer
.app-footer {
    margin-top: @line-height-computed;
    padding: @line-height-computed 0;
    border-top: 1px solid @gray-lighter;
}
